<form [formGroup]="product" (ngSubmit)="saveProduct()">
  <mat-card-title id="create">Create Page</mat-card-title>
  <div>
    <mat-form-field >
      <input id="name" matInput placeholder="Product name" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field >
      <input id="description" matInput placeholder="Product description" formControlName="description">
    </mat-form-field>
    <br>
    <mat-form-field >
      <input id="price" matInput placeholder="Product price" formControlName="price">
    </mat-form-field>
    
  </div>
  <div>
    <!-- <button type="button" mat-raised-button color="secondary" (click)="createNewQuestion()">New Question</button> -->
  </div>
  <button id="saveButton" mat-raised-button color="primary">Save Product</button>
</form>
