<mat-card class="example-card">

  <ng-container *ngIf="product$ | async as product">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="https://perfume10.worldsecuresystems.com/images/products/placeholder-product-image-large.png" alt="Photo">
    <mat-card-content>
      <p>Description: {{product.description}}</p>
      <p>Price: {{product.price}} <span>{{'dkk' | uppercase}}</span></p>
    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="isAdmin$ | async" class="updateProduct" mat-raised-button color="primary"
              routerLink="/portal/product-update/{{product._id}}">Update Product
      </button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button (click)="addToCart(product._id, product.name)">Add to Cart</button>
    </mat-card-actions>
  </ng-container>

  <ng-container *ngIf=" !(product$ | async) && (isLoading$ | async)">
    <mat-spinner style="margin: auto; align-self: center;"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="!(product$ | async) && !(isLoading$ | async)">
    <mat-card-title style="margin: auto; text-align: center;">Product not found</mat-card-title>
  </ng-container>
</mat-card>
