<mat-card class="example-card">
  <div *ngIf="product | async as product">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
    <mat-card-content>
      <p>Description: {{product.description}}</p>
      <p>Price: {{product.price}} <span>{{'dkk' | uppercase}}</span></p>
    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="isAdmin$ | async" class="updateProduct" mat-raised-button color="primary" routerLink="/portal/product-update/{{product._id}}">Update Product</button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button (click)="addToCart()">Add to Cart</button>
    </mat-card-actions>
  </div>

  <div *ngIf="!(product | async)">
    <mat-card-title>Product not found</mat-card-title>
  </div>
</mat-card>
