<mat-toolbar color="primary">
  <span>e-malaya Marketplace</span>

  <button mat-button routerLink="/home/about">Home</button>
  <button mat-button routerLink="product-list">Display products</button>
  <button mat-button routerLink="cart">Shopping Cart</button>
  <span class="example-fill-remaining-space"></span>

  <p *ngIf="isAdmin$ | async; else user">ADMIN</p>
  <ng-template #user>
    <p>USER</p>
  </ng-template>
  <button mat-button (click)="onLogoutClick()" routerLink="/">Log out</button>
</mat-toolbar>

<!-- for Routing -->
<router-outlet></router-outlet>
