<div id="search">
  <mat-form-field>
    <input  matInput placeholder="Search product" value="" [(ngModel)]="userSearch">
  </mat-form-field> 
  <br>
  <!--  *ngIf -  isAdmin$ gets the value from the observable -->
  <button id="createButton" *ngIf="isAdmin$ | async" class="createProduct" mat-raised-button color="primary" routerLink="/portal/product-create">Create Product</button>
</div>
<div class="container">

  <div *ngFor="let product of products$ | async | productPipe: userSearch">
    <app-product class="product"
      [productInput]="product"
    ></app-product>
  </div>

  <ng-container *ngIf=" !(products$ | async) && (isLoading$ | async)">
    <mat-spinner style="margin: auto; align-self: center;"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="!(products$ | async) && !(isLoading$ | async)">
    <mat-card-title style="margin: auto; text-align: center;">Cannot retrieve products</mat-card-title>
  </ng-container>
</div>

