#search {
    width: 300px;
    height: 80px;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ng-star-inserted {
    display: inline-block;
}