<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="name">{{productInput.name | uppercase}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
  <mat-card-content>
    <p class="description">Description: {{productInput.description}}</p>
    <p class="price">Price: {{productInput.price}} </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="showProduct" mat-button routerLink="/portal/product-detail/{{productInput._id}}">Show Product</button>
    <button mat-button (click)="addToCart()">Add to Cart</button>

    <button *ngIf="true" 
        class="showProduct" mat-button routerLink="/portal/product-update/{{productInput._id}}">Update Product</button>
    <button *ngIf="true" 
        class="showProduct" mat-button routerLink="/portal/product-delete/{{productInput._id}}">Delete Product</button>
  </mat-card-actions>
</mat-card>
