<form [formGroup]="updateProduct" (ngSubmit)="saveUpdatedProduct()">
  <mat-card-title id="update">Update Page</mat-card-title>
  <div>
    <mat-form-field >
      <input id="name" matInput formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field >
      <input id="description" matInput formControlName="description">
    </mat-form-field>
    <br>
    <mat-form-field >
      <input id="price" matInput formControlName="price">
    </mat-form-field>
    
  </div>
  <div>
  </div>
  <button id="updateButton" mat-raised-button color="primary">Update Product</button>
</form>
