form {
  text-align: center;
}

mat-card {
  margin-left: auto;
  margin-right: auto; 
  width: 300px;
}

.example-header-image {
  background-image: url('http://s3.amazonaws.com/37assets/svn/765-default-avatar.png');
  background-size: cover;
}
